<div class="position-relative start-50 translate-middle-x w-75 card shad shadow mt-3">
  <div class="card-title">
    <img class="rounded-3 col-1 float-start my-2 mx-2" alt="..." src="assets/doc-avatar.webp">
    <div class="float-start ms-3 my-2">
      <h5 class="card-title"> {{doctor.name}} {{doctor.surname}} <i class="bi bi-star-fill"></i> <i class="bi bi-star-half"></i> <i class="bi bi-star"></i></h5>
      <p class="card-text"> {{doctor.doctorInfo?.description}} </p>
    </div>
  </div>
</div>
