
<div *ngFor="let message of messages">
  <div *ngIf="compareUser(loggedIn, message.idWho)" class="rounded-pill bg-secondary col-8 text-white mt-3 shadow">
    <div class="ms-2 my-1">{{message.content}}</div>
  </div>
  <div *ngIf="!compareUser(loggedIn, message.idWho)" class="rounded-pill bg-light offset-4 col-8 mt-3 shadow">
    <div class="ms-2 my-1">{{message.content}}</div>
  </div>
</div>

<div class="sticky-s-top">
  <div class="position-relative bottom-0 start-50 translate-middle-x col-11">
    <form [formGroup]="messageForm" (ngSubmit)="onSendMessage(id)">
      <div class="input-group">
        <input type="text" class="form-control bg-secondary bg-opacity-10 col-11 " formControlName="content" placeholder="Send a message...">
        <button class="btn bg-primary bg-opacity-75 text-white" type="submit"><i class="bi bi-send-fill"></i></button>
      </div>
    </form>
  </div>
</div>
