<div *ngFor="let hour of hours">
  <button *ngIf="!hour.available" class="btn w-100 bg-danger mt-2" type="button" disabled>
    {{hour.h}}:00
  </button>

  <button *ngIf="hour.available" class="btn w-100 bg-success text-white mt-2" type="button" data-bs-toggle="modal" [attr.data-bs-target]="'#modal'+ hour.h">
    {{hour.h}}:00
  </button>

  <div *ngIf="hour.available" class="modal fade" [attr.id]="'modal'+hour.h" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Appointment {{hour.h}}:00</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <input type="text" class="form-control" placeholder="Describe your condition" #description>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button (click)="onButtonAddVisit(hour.h,description.value)" type="button" class="btn btn-primary">Register</button>
        </div>
      </div>
    </div>
  </div>
</div>
