<div class="position-relative start-50 translate-middle-x w-75 card shadow mt-3 ">
  <div class="card-title">
    <img class="rounded-3 col-2 float-start mt-2 mx-2" alt="..." src="assets/doc-avatar.webp">
    <div class="float-start ms-3 my-2 col-3">
      <h5 class="card-title">Imie Nazwisko</h5>
      <p class="card-text"> Ginekolog </p>
      <p class="card-text"> <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-half"></i> <i class="bi bi-star"></i>  100 opinii </p>
    </div>
    <div class="float-start ms-3 my-3 col-5">
      <p class="card-text"><i class="bi bi-geo-alt-fill"></i> Warszawa, Marszałkowska 21/37 </p>
      <p class="card-text"><i class="bi bi-card-text"></i> Jestem lekarzem z długoletnim starzem, ginekologia to moja specjalność.  </p>
    </div>
  </div>
</div>
